<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <title>Especial Grasas</title>
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" />
    <!--CSS de bootstrap-->
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
    <!--CSS estilo de la página-->
    <link
      rel="stylesheet"
      href="/css/styleEspecialGrasas.css"
      type="text/css"
    />
    {{! CSS fonts }}
    <link rel="stylesheet" href="/css/fonts.css" />
  </head>

  <body>

    <script>
      document.addEventListener("DOMContentLoaded", () => { const
      contenedorTabla = document.getElementById("contenedorTabla");
      setTimeout(() => { contenedorTabla.style.display = "block"; }, 500); });
    </script>

    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <div class="container">
        <!--Logo-->
        <a class="navbar-brand fs-4" href="/">Yisus</a>
        <a class="navbar-brand fs-4" href="/">
          <img
            src="/assets/android-chrome-192x192.png"
            style="height: 40px; width: auto"
            alt="buttonpng"
            border="0"
          />
        </a>
        <!--Btn activación-->
        <button
          class="navbar-toggler shadow-none border-0"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--Sidebar-->
        <div
          class="sidebar offcanvas offcanvas-start"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <!-- Sidebar Header -->
          <div class="offcanvas-header text-white border-bottom">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Yisus</h5>
            <button
              type="button"
              class="btn-close btn-close-white shadow-none"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <!-- Sidebar Body -->
          <div class="offcanvas-body">
            <ul
              class="navbar-nav align-items-center fs-6 flex-grow-1 pe-3"
              style="text-align:center;"
            >
              <li class="nav-item mx-2">
                <a class="nav-link" aria-current="page" href="/infoGeneral">Info
                  General</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link"
                  href="/datosAceites"
                >Datos Aceites</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link"
                  href="/datosGrasas"
                >Datos Grasas</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link"
                  href="/datosOtros"
                >Datos Otros</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link"
                  href="/iconos"
                >Iconos</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link"
                  href="/presentaciones"
                >Presentaciones</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link"
                  href="/especialAceites"
                >Especial Aceites</a>
              </li>
              <li class="nav-item mx-2">
                <a
                  style="font-weight: bold;"
                  class="nav-link active"
                  href="/especialGrasas"
                >Especial Grasas</a>
              </li>
              <li class="nav-item mx-2">
                {{!-- {{#if login}} --}}
                  <a 
                  href="logout"
                  style="font-weight: bold;"
                  class="ml-2 btn btn-outline-danger"
                  >Logout
                  </a>
                {{!-- {{/if}} --}}
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Card -->
    <div class="card">

      <div class="mx-auto p-2">
        <h1
          class="mt-2"
          style="font-size: 30px; font-family: 'Pier_Sans_Bold'; color:white; text-shadow: 0 0 4px black"
        >
          ESPECIAL GRASAS</h1>
      </div>

      {{! Card Body }}
      <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
        <div class="container-fluid">
          <div class="row">

            {{! Buscador y mostrar }}
            <div class="d-flex flex-row justify-content-between mb-3">
              <div class="d-flex">
                <label
                  class="input-group-text label-select"
                  style="color: white; font-weight: bold; text-shadow: 0 0 4px black"
                  for="perPageSelect"
                >Mostrar</label>
                <select class="form-select" id="perPageSelect">
                  <option value="10" selected>10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
                <label
                  class="input-group-text label-select"
                  style="color: white; font-weight: bold; text-shadow: 0 0 4px black"
                  for="perPageSelect"
                >registros</label>
              </div>

              <input
                type="button"
                value="+ Agregar"
                class="btn btn-success"
                onclick="location.href='/especialGrasasAdd' "
              />

              <div class="d-flex">
                <div class="input-group">
                  <input
                    class="inputBuscar form-control"
                    type="text"
                    id="inputBusqueda"
                    placeholder="Buscar..."
                    aria-describedby="basic-addon2"
                  />
                  <span class="input-group-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12" id="contenedorTabla" style="display: none;">
              <table
                class="rounded rounded-3 overflow-hidden table"
                id="tablaDatos"
              >
                <thead>
                  <tr>
                    <th style="display:none;">ID</th>
                    <th>Hoja Técnica</th>
                    <th>Archivo</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each data}}
                    <tr>
                      <td
                        tabindex="0"
                        style="display:none;"
                      >{{this.idEspecialGrasas}}</td>
                      <td
                        tabindex="0"
                      >{{this.FK_HojaTecnicaEspecialGrasas}}</td>
                      <td tabindex="0">
                        <a
                          href="/uploads/{{this.archivoEspecialGrasa}}"
                          target="_blank"
                        >
                          <img
                            src="/uploads/{{this.archivoEspecialGrasa}}"
                            alt="Vista previa"
                            style="max-height: 70px;"
                          />
                        </a>
                      </td>
                      <td tabindex="0">
                        <button
                          type="button"
                          class="btn btn-danger btn-sm me-2"
                          data-bs-toggle="modal"
                          data-bs-target="#modalBorrar"
                          data-id="{{this.idEspecialGrasas}}"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-trash-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                            />
                          </svg></button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {{! Card Footer }}
      <div class="card-footer border-0">
        <div class="container-fluid">
          <div class="row d-flex align-items-center">
            <div
              class="d-flex col-12 justify-content-center col-lg-6 justify-content-lg-start"
            >
              <!-- Elemento para mostrar el mensaje cuando no se encuentran registros -->
              <span
                style="padding: 10px; font-weight: bold; color:white; text-shadow: 0 0 4px black"
                id="paginationInfo"
              ></span>
              <!-- Texto paginacion -->
              <label id="labelRegistros"></label>
            </div>
            <div
              class="d-flex col-12 justify-content-center col-lg-6 justify-content-lg-end"
            >
              <div id="paginationButtons" class="d-flex justify-content-end">
                <ul>
                  <li>
                    <button id="prevButton" class="custom-navigation-button">
                    </button>
                  </li>
                  <li>
                    <button
                      id="nextButton"
                      class="custom-navigation-button"
                    ></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{! Fin card  }}

    {{! MODALES }}
    <!-- Modal Borrar -->
    <div
      class="modal fade"
      id="modalBorrar"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="deleteForm" method="POST">
            <input type="hidden" id="idValueInput" name="id" value="" />
            <!-- Agrega un método POST y la ruta que corresponda a tu aplicación -->
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <h5>¿Estás seguro de eliminar este dato?</h5>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">ELIMINAR</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--JS de bootstrap-->
    <script src="/bootstrap/bootstrap.js"></script>
      
    <!--Select paginación-->
    <script src="/js/especialGrasas/paginaybusca.js"></script>
    <!--Modal Borrar-->
    <script src="/js/especialGrasas/modalBorrarEspecialGrasas.js"></script>

  </body>
</html>